@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href='~/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <!-- dosya yolundan sürükle bırak ile sonradan ekledik -->
    <!-- saatlere bölünmüş haftalar gridini eklemek için -->
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
}

<div id="calendar">

</div>


@section Scripts {
    <script src='/lib/fullcalendar/core/main.js'></script>
    <script src='/lib/fullcalendar/daygrid/main.js'></script>

    <!-- dosya yolundan sürükle bırak ile sonradan ekledik -->
    <!-- saatlere bölünmüş haftalar gridini eklemek için -->
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>

    <!-- türkçe dil desteğinin eklenmesi -->
    <script src='/lib/fullcalendar/core/locales/tr.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                // kullanılacak gridleri plugin olarak ekliyoruz
                plugins: ['dayGrid', 'timeGrid'],

                // takvimin türkçe kullanımı için
                locale: 'tr',

                // header bölümünde ne hangi tarafta görünecek
                header: {
                    left: 'prev, next, today', // araya virgüllerden sonra boşluk bırakırsak takvimde da bırakıyor
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek' // günlere bölünmüş aylar ve saatlere bölünmüş haftalar alanları
                },

                // default olarak timeGridWeek gelsin (günlere bölünmüş haftalar)
                defaultView: 'timeGridWeek',

                // haftasonları takvimde görünmesin
                weekends: false
            });
            calendar.render();
        });

    </script>
}